/*
Theme Name: Brafe
Theme URI: www.brafe.com
Author: Merz
Version: 1.0
*/



/*Default para os txts*/
*{
    max-width: 100%;
    max-height: 100%;
}
h1{
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 2rem;
}
p{
    font-family: Georgia, serif;

}
a{
    text-decoration: none;
    font-family: Georgia, serif;
    color: black;
}
img{
    max-width: 100%;
    max-height: 100%;
}

/*Header block*/
.HeaderDiv{
    width: 100%;
    height: 80px;
    background-color: #222;
    position: sticky;
    top: 0;
    z-index: 1;
}
/*Block dentro do header, contem logo e opções*/
.MainHeader{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 66%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    
}
/*Logo e texto*/
.MainHeader *{
    display: inline;
    font-size: 1.2rem;
}
/*logo*/

.IndexLogo{
    min-width: 135px;
}

/*-------Opções-------*/
.menu li{
    position: relative;
}
.menu li a{
    color: burlywood;
    margin: 0px 5px;
}

.menu li::after{
    content: '';
    width: 0%;
    height: 2.2px;
    position: absolute;
    left: 5%;
    bottom: -2px;
    transition: 0.5s;
    background: #fafafa;
}
.menu li:hover::after{
    width: 90%;
}

/*---------------------*/

/*Cafés com a cara do Brasil*/
        /*Banner*/
/*Line Division*/
.divisionbanner{
    background-color: #333;
    height: 5px;
    width: auto;
}
/*-------------*/
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 470px;
    background-image: url("img/bg-intro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(1.2);
}
/*------Banner Txt------*/
.banner > div{
    height: 50%;
    width: 35%;
    text-align: center;
    position: relative;
    margin: 0px auto;
    padding: 170px 0px 170px 0px;
}
.banner .innerbox{
    width: 100%;
    height: 100%;
    position: absolute;
}

.banner h1{
    font-size: 2.6rem;
    color: white;
}
.banner p{
    color: white;
}
/*Banner animation*/
.banner .line{
    display: inline-flex;
    justify-content: center;
    background-color: white;
    width: 18px;
    height: 4px;
    margin: 14px 0px;
    transition: width 1s;
}

.banner:hover .line{
    width: 100px;
}
/*-------------*/
.banner p{
    font-size: 1.1rem;
    font-style: oblique;
}
/*-----------------------*/

/*Uma Mistura de*/
.block2desc{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.block2desc > div{
    height: auto;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.block2desc h1{
    text-align: center;
    margin: 50px 0px;
}
.amorperfeição{
    display: inherit;
    justify-content: center;
    flex-wrap: wrap;
}
.amorperfeição > figure{
    width: 460px;
    height: 203px;
    margin: 0px 20px 40px 0px;
    position: relative;
}
.amorperfeição figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.amorperfeição figure div{
    background-color: #222;
    width: 45%;
    height: 25%;
    position: absolute;
    top: 87%;
    display: flex;
    justify-content: center;
}
.amorperfeição p{
    color: white;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 45px;
    letter-spacing:-0.02em;
    position: relative;
}

.block2desc .txt{
    display: flex;
    justify-content: center;
    
}
.txt > div{
    width: 46%;
    text-align: center;
    margin: 50px;
}

.txt p{
    color: black;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.2rem;
}
/*--------------------------*/


/*---------3 circulos-----------*/
/*Linha fina, divisão*/
.division{
    height: 3px;
    background-color: rgb(216,212,201);
    width: auto;
}

/*bloco todo*/
.block3{
    width: auto;
    height: auto;
    background-color: rgb(233, 229, 217);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*3 divs dos cafés*/
.block3 > div{
    width: 340px;
    height: 400px;
    background-color: rgb(233, 229, 217);
    margin: 45px 20px 0px 0px;
    overflow-wrap: break-word;

}
.block3 div > div{
    position: relative;
}

.circle1, .circle2, .circle3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgb(81,36,0);
    border-radius: 50%;
    margin: 20px 100px;
    position: absolute;
}
.circleborder1, .circleborder2, .circleborder3{
    width: 120px;
    height: 120px;
    background-color: rgb(233, 229, 217);
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(233, 229, 217);
    animation: breath 2s infinite;
}
.circlecenter1, .circlecenter2, .circlecenter3{
    width: 120px;
    height: 120px;
    background-color: rgb(81,36,0);
    border-radius: 50%;
}

.circle2, .circlecenter2{
    background-color: rgb(217,114,50);
}
.circle3, .circlecenter3{
    background-color: rgb(232,167,68);
}
@keyframes breath{
    0%{border-width: 5px;}
    50%{border-width: 17px;}
    100%{border-width: 5px;}
}

.block3 h1{
    text-align: center;
    margin: 20px 0px;
}
.block3 p{
    color: black;
    margin: 19px 0px 0px 29px;
}
/*Saiba Mais*/
.saibamais{
    width: 100%;
    height: 70px;
    margin: 0px 0px 50px 0px;
    display: flex;
    justify-content: center;
}
.saibamais .invert{
    width: 210px;
    height: 75%;
    background-color: rgb(233, 229, 217);
    border-color: #222;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.invert a{
    font-size: 1.4rem;
    line-height: 50px;
}
.invert a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.7s;
}
.invert a:hover{
    background-color: #222;
    color: rgb(233, 229, 217);
}
/*-----------------------------*/
/*Ultima parte*/
.lastblock{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.lastblock > *{
    margin: 40px;
}

.lastblock p,.lastblock h1{
    color: black;
    margin: 20px
}
.lastblock .item{
    display: flex;
    justify-content: center;
}
.lastblock .itemtxt{
    width: 25%;
    margin: -4px 0px 0px 14px;
}
.vermapa{
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.vermapa:hover{
    background-color: black;
    color: white;
}
.vermapabox{
    text-align: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    display: flex;
    justify-content: space-around;
    margin: -4px 0px 0px 14px;
}
.lastblock img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 600px;
}
/*-------Footers----------*/
/*NewsLetter*/
.news{
    width: 100%;
    height: auto;
    background-color: rgb(233, 229, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 0px;
    flex-wrap: wrap;
}
.news > div{
    width: auto;
    height: auto;
    margin-top: 10px;
    text-align: center;
}
.news p{
    font-style: italic;
    margin: 10px 0px 0px 0px;
    font-size: 1.4rem;
}
.news h1{
    margin: 0px 20px 0px 0px;
}

.email{
    border: solid;
    border-width: 3px;
    width: 273px;
    height: 34px;
    background-color: rgb(233, 229, 217);
    font-style: italic;
    font-size: 1.3rem;
    font-family: Georgia, serif;
}
.emailsubmit{
    cursor: pointer;
    box-sizing: content-box;
    height: 34px;
    width: 130px;
    border: solid;
    background-color: black;
    font-size: 1.3rem;
    color: white;
    border-width: 4px;
    border-color: black;
    padding: 0px;
    font-family: Georgia, serif;
    transition: 0.7s;
}
.emailsubmit:hover{
    background-color: rgb(233, 229, 217);
    color: black;
}
.endereço{
    width: 100%;
    height: auto;
    background-color: rgb(216,212,201);
    display: flex;
    justify-content: center;
    padding: 40px 0px;

}
.endereço > div{
    width: 900%;
    margin-right: 24px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.endereço p{
    font-size: 1.1rem;
}
.endertxt{
    width: 40%;
}

@media only screen and (max-width: 604px){
    .desctxt > p{
        font-size: 5vw;
        line-height: 7.6vw;
    }
    #itemtxt h1{
        font-size: 4vw;
    }
    #itemtxt h1{
        font-size: 5vw;
    }
    #itemtxt a{
        font-size: 3vw;
    }
    .vermapabox{
        width: auto;
        height: auto;
        margin: 0px;
    }
    .txt > div{
        width: auto;
        margin: 20px 0px 20px 0px;
    }


    .MainHeader{
        width: 85%;
    }

}
@media only screen and (max-width: 783px){
    .lastblock .item{
        display: inline-flex;
        flex-wrap: wrap;
    }
    #itemtxt{
        width: 80%;
        margin: 0px;
    }


    .banner > div{
        width: 90%;
    }
    
    
}

@media only screen and (max-width:713px){   
    .menu > li{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }
    .menu li a{
        padding: 3px 0px;
        text-align: center;
    }
    .HeaderDiv{
        height: auto;
        position: flex;
        top: unset;
    }


    .block3 > div > div {
        margin: auto;
    }
}